<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e1f4">  <td>20/01/20 19:37:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTest.setUp()[pri:0, instance:com.mpass.health.check.HealthCheckTest@46d56d67]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/20 19:38:16</td>   <td>32553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTest.LoginTest()[pri:0, instance:com.mpass.health.check.HealthCheckTest@46d56d67]">LoginTest</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/20 19:38:24</td>   <td>39898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTest.tearDown()[pri:0, instance:com.mpass.health.check.HealthCheckTest@46d56d67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>20/01/20 19:38:24</td>   <td>40567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalBusinessProfileTest.setUp()[pri:0, instance:com.mpass.functional.FunctionalBusinessProfileTest@d8355a8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>20/01/20 19:39:09</td>   <td>85195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FunctionalBusinessProfileTest.saveBusinessProfileTest()[pri:0, instance:com.mpass.functional.FunctionalBusinessProfileTest@d8355a8]">saveBusinessProfileTest</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>20/01/20 19:39:33</td>   <td>108629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalBusinessProfileTest.tearDown()[pri:0, instance:com.mpass.functional.FunctionalBusinessProfileTest@d8355a8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
</table>
