<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ebad">  <td>20/02/08 00:16:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTest.LoginTest()[pri:0, instance:com.mpass.health.check.HealthCheckTest@239963d8]">LoginTest</td> 
  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>20/02/08 00:16:32</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTest.NavigateToAllTheTabsAndVerifyLinkTexts()[pri:1, instance:com.mpass.health.check.HealthCheckTest@239963d8]">NavigateToAllTheTabsAndVerifyLinkTexts</td> 
  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>20/02/08 00:16:19</td>   <td>-12551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTest.setUp()[pri:0, instance:com.mpass.health.check.HealthCheckTest@239963d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
</table>
